<div data-copy-variant="v1">
  <slot name="v1" />
</div>
<div data-copy-variant="v2">
  <slot name="v2" />
</div>
<div data-copy-variant="v3">
  <slot name="v3" />
</div>
<div data-copy-variant="v4">
  <slot name="v4" />
</div>
