---
type Props = {
  title: string;
};

import BaseLayout from './BaseLayout.astro';

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <main>
    <a href="/">&larr; Back to home</a>
    <article>
      <slot />
    </article>
  </main>
</BaseLayout>
